@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Satisfy&display=swap');
body {
    font-family: 'Lato', sans-serif;
}
h1 {
    font-family: 'Satisfy', cursive;
}
.bg-blue {
    background-color: #a2d2ff;
}

.section {
    padding: 80px;
    text-align: center;
    background-color: #a2d2ff;
}
.title {
    margin-bottom: 40px;
}
.about-detail {
    font-size: 24px;
}
#portfolio {
    background-color: white;
}
.image-portfolio {
    width: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}